/*Latest Message Container*/
/*Latest Message Container*/
*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}
#myModuleContainer{
    display: flex;
    align-items: center;
    max-width: 35vw;
    max-height: fit-content;
}
#logo{
    height: 65px;
    width: auto;
    margin-right: 18px;
}
#messageContainer{
    display: flex;
    flex-direction: column;
}
#titleContainer{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}
#userAvatar{
    max-width: 56px;
    max-height: 56px;
    border-radius: 50%;
    height: 100%;
    margin-right: 10px;

}
#notificationHeader{
    height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: white;
}
#message{
    max-height: 62px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    font-size: 20px;
    line-height: 24px;
    padding-top: 11px;
}

#notificationHeader {
    color: #b6b6b6;
}

#notificationHeader > #username {
    color: #d5feff;
}

#notificationHeader > #important, #message > #important {
    color: #ffffff;
}

#errorMessage {
    color: #ff9999;
}